<div id="form_container">
  <form action="/" method="post">
    <input type="text" placeholder='Enter the URL you would like to "shorten"' name="original_url"/>
    <button type="submit">Shorten</button>
  </form>
</div>