<div id="table_container">
  <table>
    <tr>
      <td>Original URL:</td>
      <td><%= @original_url %></td>
    </tr>
    <tr>
      <td>"Shortened" URL:</td>
      <td><%= @host_url %>/<%= @url_path %></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="/">"Shorten" another URL</a></td>
    </tr>
  </table>
</div>